$svgSprite: (
    sprite: (width: 800px, height: 800px, pngPath: '../assets/sprite/sprite.png', svgPath: '../assets/sprite/sprite.svg'),
    hapryconv2: (width: 800px, height: 800px, backgroundX: 0px, backgroundY: 0px),
);
